/*自定义 Butterfly 主题字体*/
@font-face {
    font-family: 'sleek';
    src: url('https://cdn.jsdelivr.net/gh/Logostar/Vincent-Pro/use/hanyilemianti.woff2');
}

/*自定义首页中间打字上方主题颜色*/
#page-header #site_title {
    color: #BA55D3;
}

/*页脚自定义字段字体颜色*/
.footer_custom_text {
    color: #BA55D3;
}

/*头部文字颜色*/
#nav a {
    color: #BA55D3;
}
